extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Graduates",
    description:"Graudates for hire from The Iron Yard's Academy."
  })

block content
  +navigation({
    title: 'Graduates',
    color: 'gold',
    links: [
      {title: "Front End Engineering", url: "#front-end"},
      {title: "Rails Engineering", url: "#rails"},
      {title: "Mobile Engineering", url: "#mobile"}
    ]
  })

  .container
    .row(style="text-align:center")
      h1#front-end Front End Engineering Graduates
      hr

      


    .row(style="text-align:center")
      h1#rails Rails Engineering Graduates
      hr
      p Coming soon!  
    .row(style="max-width:900px; margin:0 auto")
      //add bio mixin with Rails student info here

    .row(style="text-align:center")
      h1#mobile Mobile Engineering Graduates
      hr
      p Coming soon!  
    .row(style="max-width:900px; margin:0 auto")
      //add bio mixin with Mobile student info here



